[Unit]
Description=JRT PitCam GPS tracker
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/pitcam/gps-server.py
Restart=always
User=www-data

[Install]
WantedBy=multi-user.target
